    {% for idea in ideas %}
                <div class ="idea">
                    <img 
                    src="{{idea.image}}"
                    alt="dev">

                    <div class="content">
                        <h3>{{idea.title}}</h3>
                        <p>{{idea.category}}</p>
                        <div class="description">
                            {{idea.description}}
                        </div>
                        <a href="{{idea.link}}" target="_blank">ir para ideia</a>
                    </div>
              </div> 
    {% endfor %}