{% extends "layout.html" %}
{% set bodyId = "page-ideas" %}


{% block title %}
<title>Ideias - Casa Criativa</title>
{% endblock title %}


       {% block content %}
        <header>
            <a href="/">
                <img src="/CasaCriativalogo.png" alt="Imagem Logo">
            </a>
            <nav>
                <li><a href="/">Início</a></li>            
                <li><a class="button" href="#" onclick="onOff()">Nova ideia</a></li>
            </nav>
        </header>
        <section id="title">
            <p>Em exibição</p>
            <h1>Ideias</h1>
        </section>
    
        <main>
            <section id="ideas">
                {% include "all_ideas.html" %}      
            </section>
    
        </main>
    
        <footer>
            With ☕ <a href="http://rocketseat.com.br" target="_blank">Evoney</a>
        </footer>

        {% endblock %}