{% extends "layout.html" %}

{% block content %}

<section id = "intro">
    <header>
        <a href="/">
            <img src="/CasaCriativalogo.png" alt="Imagem Logo">
        </a>
    </header>
    <main>
        <p>
            Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>
        <p>
            Iremos catalogar ideias, brincadeiras, jogos, filmes, livros, cursos, dicas e tudo que for necessário para tornar esse momento mais interessante.
        </p>
        <p>
            Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.
        </p>
    
    </main> 

    <section id="buttons">
        <button onclick="onOff()">+ Adicionar ideia.</button>
        <a href="/ideias" class="button">Ver Ideias</a>
    </section>

    <footer>
        With ☕ <a href="http://rocketseat.com.br" target="_blank">Evoney</a>
    </footer>

</section>
    <section id="last-ideias">
        {% include "all_ideas.html" %}
</section>

{% endblock %}