<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    {% block title %}
    <title>Casa Criativa - Ideias para momentos de confinamento</title>
    {% endblock title %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body id="{{ bodyId }}">

    <div id="container">
        {% block content %}
        {% endblock %}
    </div>

    {% include "modal.html" %}

    <script src="scripts.js"></script>
</body>
</html>
