    <!-- Modal -->

    <div id="modal" class="hide">
        <div class="content">
            <h1>Nova Ideia</h1>

            <form action="/" method="POST" onsubmit="return checkFields(event)">

                <div class="input-wrapper">
                    <label for="title">Títuto da ideia</label>
                    <input type="text" name="title">
                </div>
            
                <div class="input-wrapper">
                    <label for="category">Categoria</label>
                    <input type="text" name="category">
                </div>

                <div class="input-wrapper">
                    <label for="image">Link da imagem</label>
                    <input type="url" name="image">
                </div>

                <div class="input-wrapper">
                    <label for="description">Digite uma descrição para essa ideia</label>
                    <textarea name="description" cols="30" rows="10"></textarea>
                </div>

                <div class="input-wrapper">
                    <label for="link">Link da ideia</label>
                    <input type="url" name="link">
                </div>
                <a href="#" onclick="onOff()">Voltar</a>
                <button>Salvar</button>
            
            </form>

        </div>


    </div>
       